@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  @apply text-3xl font-bold mb-5 text-gray-800;
}

ul, p, form {
  margin-bottom: 20px;
}

form {
  @apply flex flex-wrap items-center;
}

label {
  @apply mr-2;
}

input, button {
  @apply p-3 mb-3 border rounded;
  font-size: 16px;
}

button {
  @apply bg-green-500 text-white cursor-pointer transition duration-300;
}

button:hover {
  @apply bg-green-600;
}

table {
  @apply border-collapse w-full mb-8;
}

th, td {
  @apply p-4 text-left border-b;
}

th {
  @apply bg-green-500 text-white;
}

#expenses-chart {
  @apply w-full mb-8;
}

/* Responsive styles */
@screen sm {
  /* Adjust styles for smaller screens */
  body {
    @apply p-4;
  }

  input, button {
    @apply w-full;
  }

  table {
    @apply text-sm;
  }
}

@screen xs {
  /* Further adjustments for even smaller screens */
  h1, h2 {
    @apply text-lg;
  }

  table {
    @apply text-xs;
  }
}